 <section class="form-sec center-div section-space">
        <div class="container">
            <div class="row">
                <div class="col-md-4 center-div">
                    <div class="form-text">
                        <h2> See us in action. </h2>
                        <p> We'd love to demonstrate
                            what we can do for you.
                            Simply fill in this form,
                            and we'll call you within 24 hours
                            to set up a demo. </p>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="contact-form">
                        <form>
                            <div class="form-inner d-flex">
                                <span>
                                    <input type="text" class="form-input" placeholder="First Name">
                                </span>
                                <span>                
                                    <input type="text" class="form-input" placeholder="Last Name">
                                </span>
                            </div>
                            <div class="form-inner d-flex">
                                <span>
                                    <input type="text" class="form-input" placeholder="Email">
                                </span>
                                <span>
                                    <input type="text" class="form-input" placeholder="Phone">
                                </span>
                            </div>
                            <div class="form-inner d-flex">
                                <span>
                                    <input type="text" class="form-input" placeholder="Business Name">
                                </span>
                                <span>
                                    <input type="text" class="form-input" placeholder="No. of Centers">
                                </span>
                            </div>
                            <div class="form-inner d-flex">
                                <span>
                                    <input type="text" class="form-input" placeholder="No. of service provider">
                                </span>
                                <span>
                                    <input type="text" class="form-input" placeholder="Your current software">
                                </span>
                            </div>
                            <div class="form-inner d-flex">
                                <textarea title="Comments" placeholder="Comments"> </textarea>
                            </div>
                                <div class="rqst-btn">
                                    <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>
                                    <a href="javascript:;"> Request a free demo </a> 
                                </div> 
                                              
                                                        
                                  </form>
                       
                         
                    </div>
                </div>
            </div>
        </div>
    </section>
