 <section class="girl-section">
        <div class="container">
            <div class="">
                <div class="center-content">
                    <div class="custom-girl_sec custom-head">
                        <h2> Your customers swear by your service.
                            But do they bond with your brand? </h2>
                    </div>

                </div>
                <div class="right-girl">
                    <img src="assets/images/girl-right.png" alt="">
                </div>
            </div>
        </div>
    </section>