<section class="product-panel_sec center-div padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="custom-heading_center">
                        <h2 class="big-head_center">If you need it, we do it.</h2>
                        <p class=""> Zenoti takes care of every aspect of your business, <br>
                            so you can focus on what matters the most – helping people & changing lives. </p>
                    </div>

                    <div class="row icons-div_b">
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b1.png" alt="" class="">
                                <span class="icon-img_hvr color-bg1">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Appointments </h5>
                        </div>
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b2.png" alt="" class="">
                                <span class="icon-img_hvr color-bg2">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Billing &
                                Payments </h5>
                        </div>
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b3.png" alt="" class="">
                                <span class="icon-img_hvr color-bg3">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Reporting &
                                Analytics </h5>
                        </div>
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b4.png" alt="" class="">
                                <span class="icon-img_hvr color-bg4">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Marketing </h5>
                        </div>
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b5.png" alt="" class="">
                                <span class="icon-img_hvr color-bg5">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Employees </h5>
                        </div>
                        <div class="col-md-2 icons-inner_b">
                            <div class="icon-img_div">
                                <img src="assets/images/icon-b6.png" alt="" class="">
                                <span class="icon-img_hvr color-bg6">
                                    <a href="javascript:;" class="learn-btn"> Learn more </a>
                                </span>
                            </div>
                            <h5> Inventory </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>