@media only screen and (max-width: 1800px) {

	body{
		width: 100%;
	}
/*==========================================*/
/*----------Home-Page--------*/
/*==========================================*/

}



@media only screen and (max-width: 1550px) {
	
}
@media only screen and (max-width: 1366px) {
/*==========================================*/
/*----------Home-Page--------*/
/*==========================================*/

.arrows .next-arrow {
    right: -4%;
}
.arrows .left-arrow {
    right: -4%;
}

}
@media only screen and (max-width: 1200px) {
	
}

@media only screen and (max-width: 991px) {

}
	